<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <%= student.parent.name %>
    <p>
      <%#= link_to "Show this student", students _path %>
    </p>
  <% end %>
</div>

<%#= link_to "New student", new_student_path %>
